.input_item {
    padding-right: $main_margin;
}

.input_item.parent_disabled {
    opacity: 0.3;
    pointer-events: none;
}

.input_item.child {
    margin-left: 28px;
}

.input_w_and_help_btn {
    display: flex;
}
