html,
.body {
    height: 100%;
    background-color: $color_1;
}

.main {
    padding: $main_margin_2;
}

.main_2 {
    @include border;
    display: flex;
    height: calc(100vh - #{$main_margin_4 + 2});
    max-width: 1366px - $main_margin_2 + 2px;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.main_3 {
    margin: $main_margin;
    width: 100%;
}
