html,
.body {
    height: 100%;
}

.main {
    padding: $main_margin_2;
}

.main_2 {
    @include border;
    display: flex;
    height: calc(100vh - #{$main_margin_4 + 2});
    max-width: 1366px - $main_margin_2 + 2px;
    margin: auto;
}
