.sections {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.section {
    margin: $main_margin;
}

.subsection .name {
    margin: 0;
    font-weight: bold;
    font-size: unset;
    text-decoration: underline;
}

.subsection .name:not(:first-child) {
    margin-top: $main_margin;
}
