.input_item,
.input_w,
.help {
    transition: var(--transition);
    transition-property: opacity;
}

.section_btn {
    transition: var(--transition);
    transition-property: background-color;
}

.link {
    transition: var(--transition);
    transition-property: color;
}

.link:active {
    transition: none;
}