$btn_size: 32px;

.btn {
    @include btn;
    border-radius: 0;
    position: relative;
    vertical-align: bottom;
}

.btn svg {
    height: $btn_size;
    width: $btn_size;
}

.btn.text {
    @include btn;
    display: block;
    border: none;
    height: $input_height;
    padding: 7px 9px 6px 9px;
}
