@import "vars";
@import "mixins";

.reload_ui_btn_w {
    @include full_spread;
    @include center_flex;
    position: fixed;
    visibility: hidden;
}

.reload_ui_btn_w .btn {
    @include btn;
    @include black_border;
    visibility: visible;
    color: $black;
    background-color: $light_orange;
    padding: 6px 12px 6px 12px;
    width: max-content;
    font-size: 21px;
}

.reload_ui_btn_w .btn:hover {
    background-color: $blue;
    color: white;
}

.reload_ui_btn_w .btn:active {
    background-color: $yellow;
    color: $black;
}

.reload_ui_btn_w .using_keyboard .btn:focus {
    @include blue_border;
}
