@import "mixins";
@import "transitions";
@import "mods";

$svg_size: 110px;
$window_mode_svg_size: 64px;

.main {
    @include full_spread;
    @include max_z_index;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-width: 0;
}

svg {
    @include center_translate;
    position: absolute;
    height: $svg_size;
    width: $svg_size;
}

.small_svg svg {
    height: $window_mode_svg_size;
    width: $window_mode_svg_size;
}
