$border-width: 1px;

@mixin full_dims {
    width: 100%;
    height: 100%;
}

@mixin top_left {
    top: 0;
    left: 0;
}

@mixin full_spread {
    @include full_dims;
    @include top_left;
}

@mixin max_z_index {
    z-index: 2147483647;
}

@mixin center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_translate {
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin border {
    border-width: $border-width;
    border-style: solid;
}

@mixin white_border {
    border: $border-width solid white;
}

@mixin black_border {
    border: $border-width solid $black;
}

@mixin blue_border {
    border: $border-width solid $blue;
}

@mixin border_bottom {
    border-bottom-width: $border-width;
    border-bottom-style: solid;
}

@mixin btn {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0;
}

@mixin input_basic {
    border: none;
    outline: none;
}