.none {
    display: none !important;
}

.hidden {
    position: fixed !important;
    visibility: hidden !important;
    top: 99999px !important;
}

.opacity_1 {
    opacity: 1 !important;
}

.opacity_0 {
    opacity: 0 !important;
}

.border {
    border-width: 1px !important;
    border-style: solid !important;
}
