$thumb_border: 5px solid transparent;

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
}

::-webkit-resizer {
    @include border_top;
    @include border_left;
}

::-webkit-scrollbar-track:vertical {
    @include border_left;
}

::-webkit-scrollbar-track:horizontal {
    @include border_top;
}

::-webkit-scrollbar-thumb:vertical {
    border-left: $thumb_border;
    border-right: $thumb_border;
}

::-webkit-scrollbar-thumb:horizontal {
    border-top: $thumb_border;
    border-bottom: $thumb_border;
}
