.loading_screen,
.checkbox .box svg,
.color_picker_w {
    transition: var(--transition);
    transition-property: opacity;
}

.input,
.btn,
.color_picker_w .accept_color,
.color_picker_w input {
    transition: var(--transition);
    transition-property: background-color;
}
