.main {
  all: initial; }

.none {
  display: none !important; }

.hidden {
  position: fixed !important;
  visibility: hidden !important;
  top: 99999px !important; }

.opacity_1 {
  opacity: 1 !important; }

.opacity_0 {
  opacity: 0 !important; }

.main,
button,
input {
  font-family: "my_font_u6Pgzb39sN0";
  font-size: 17px;
  color: #212121; }

body,
button {
  color: white; }

.main {
  z-index: 2147483647;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  border: none;
  overflow: hidden;
  background-color: #da4747;
  color: white; }

.error .msg {
  white-space: pre-wrap;
  text-align: center;
  padding: 10px;
  padding-top: 35px; }

.error .close_btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 7px;
  outline-offset: 2px; }

.error .close_btn svg {
  fill: white;
  height: 20px;
  width: 20px; }

.error .close_btn:focus {
  outline: none; }

.using_keyboard .error .close_btn:focus {
  outline: 1px solid white; }

.error .more_info_btn {
  border: 1px solid white;
  background-color: transparent;
  display: table;
  margin: auto;
  margin-top: 6px;
  outline: none;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  white-space: nowrap; }

.error .more_info_btn:hover {
  color: #212121;
  background-color: white; }

.error .more_info_btn:active {
  color: #212121;
  background-color: #fbff75;
  border-color: #fbff75; }

.using_keyboard .error .more_info_btn:focus {
  background-color: #3892ff;
  border-color: #3892ff; }

.using_keyboard .error .more_info_btn:hover:focus {
  color: white; }

.error.is_highlighted {
  background-color: #e28036; }
