@import "../../vars";

$color_1: #292929;
$color_2: #395275;
$color_3: #373737;
$color_4: white;
$color_5: #475466;
$color_6: rgba(174, 35, 43, 0.99);
$color_7: #121212;
$color_8: #3b7949;
$color_9: $yellow;
$color_10: #ff8787;
$color_11: #77ff6f;
$color_12: #f493ff;
$color_13: #293d4d;