@import "../../vars";

$color_1: #efefef;
$color_2: #ffec82;
$color_3: white;
$color_4: $black;
$color_5: $light_orange;
$color_6: rgba(255, 77, 85, 0.99);
$color_7: #afafaf;
$color_8: #a1ff83;
$color_9: $blue;
$color_10: #ff6565;
$color_11: #0bc700;
$color_12: #eb36ff;
$color_13: #a2d4ff;
