$color_1: black;
$color_2: #1d293b;
$color_3: #0d0d0d;
$color_4: #e5e5e5;
$color_5: #262b33;
$color_6: rgba(120, 30, 34, 0.99);
$color_7: #1f1f1f;
$color_8: #1d4025;
$color_9: #e1e56a;
$color_10: #e57a7a;
$color_11: #6be565;
$color_12: #dc85e5;
